html {
    height: 100%;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

p {
    padding: 0;
    margin: 0;
}


body {
    box-sizing: border-box;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.displayNone {
    display: none;
}

.is-invisible {
    opacity: 0;
}

.is-hidden {
    display: none
}

/*************************
*** Animations
***************************/
@keyframes fadeIn {
    from {
        opacity:0;
    }

    to {
        opacity: 1;
    }
}

.bodyFadeIn {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-duration: 0.5s;
    animation-delay: 0s;
}
/*************************
*** Header
***************************/
h1 {
    margin: 0.1em;
    padding: 0;
}

h3 {
    margin: 0.1em;
    padding: 0;
}

.headline {
    display: flex;
}

.pageHeaderDiv {
    width: 100%;
    text-align: center;
}

.pageTitleContainerDiv {
    display: inline-block;
}

.pageTitleContainerDiv > h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -moz-linear-gradient(-45deg, #faae40 0%, #faae40 14%, #f05a28 15%, #f05a28 28%, #be202f 29%, #be202f 43%, #392411 44%, #392411 58%, #be202f 59%, #be202f 73%, #f05a28 74%, #f05a28 88%, #faae40 89%, #faae40 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #faae40 0%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #faae40 0%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    background-clip: text;
}

.pageHeaderDiv > h3 {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-weight: 100;
    padding: 0;
    margin: 0;
}



/*************************
*** Submit topic
***************************/
.secondSectionDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.submitTopicHeader {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

.submitTopicDiv {
}

.submitTopicButton {
    height: 44px;
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    font-size: 18px;
    border-radius: 8px;
    background-color: #F05A28;
    border: solid;
    border-color: #FAAE40;
    border-width: 2px;
    color: #fff9f2;
    outline: none;
}

.submitTopicButton:hover {
    color: #FFFFFF;
    background: #ff5817;
}

.submitTopicButton:disabled {
    color: #949494;
    background: rgba(240, 90, 40, 0.42);
    pointer-events: none;
    cursor: default;
}

.submitTopicButton:active {
    background: #F05A28;
    outline: none;
}


.submitTopicField {
    height: 40px;
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    font-size: 18px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: solid;
    padding: 0 10px 0 10px;
    border-color: #FAAE40;
    border-width: 2px;
    color: #000000;
}

.submitTopicFieldInstructions {
    color: rgba(0, 0, 0, 0.50);
}

/*************************
*** Topics
***************************/
.topicTitleP {
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    font-size: 25px;
    word-wrap: break-word;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.topicTitleDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    width: 90%;
    padding: 0.5em;
    text-align: left;
    border-radius: 1em;
}

.graphLi {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    background: transparent;
    margin-top: 0.5em;
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
    border-bottom-style: solid;
    border-color: #BE202F;
    border-width: 1px;
    padding-bottom: 10px;
}

.graphLi:nth-child(odd){
    /*background-color: #FFFCDA;*/
}

.graphLi:last-child {
    border-bottom-style: none;
}

.graphUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #DD5431;
}



/*************************
*** Graphs
***************************/
.graphContainerDiv {
    width: 100%;
    margin-bottom: 50px;
    display: inline-block;
}

.progressBarDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progressBarSpan {
    font-family: 'Cabin', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: #FFFFFF;
}

.progressBarTrack {
    height: 50px;
    background: transparent;
}

.progressBarFill {
    height: 50px;
    width: 70%;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FAAE40;
}

/*************************
*** Buttons
***************************/
button {
    cursor: pointer;
}

.loginButtonContainer {
    display: flex;
    justify-content: center;
}

.loginButtonDiv {
    padding: 0.1em;
    display: inline-block;
    background: #faae40; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #faae40 1%, #faae40 14%, #f05a28 15%, #f05a28 28%, #be202f 29%, #be202f 43%, #392411 44%, #392411 58%, #be202f 59%, #be202f 73%, #f05a28 74%, #f05a28 88%, #faae40 89%, #faae40 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #faae40 1%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #faae40 1%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae40', endColorstr='#faae40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 10em;
    border: solid;
    border-color: #c94e0f;
    border-width: thick;

}

.loginButton {
    font-family: 'Monoton', cursive;
    font-weight: 100;
    font-size: 5em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
}

.ribbonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #BE202F;
    padding: 10px 10px 10px 10px;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 3px;
}


.logoutButtonDiv {
    width: 80px;
    height: 20px;
    cursor: pointer;

}

.logoutButton {
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.logoutButton:hover {
    text-decoration: underline;
}

.simpleButton {
    width: 8.5em;
    height: 2.5em;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background: #436226;
    border-radius: 1em;
    border: solid thick;
    border-color: #7CA65A;
    outline: none;
}

.simpleButton:hover {
    color: #222222;
    background: #537428;
}

.simpleButton:disabled {
    color: #949494;
    background: rgba(164, 185, 28, 0.5);
    pointer-events: none;
    cursor: default;
}

.simpleButton:active {
    background: #cadf1c;
}


.voteButtonDiv {
    min-width: 80px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #faae40; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #faae40 1%, #faae40 14%, #f05a28 15%, #f05a28 28%, #be202f 29%, #be202f 43%, #392411 44%, #392411 58%, #be202f 59%, #be202f 73%, #f05a28 74%, #f05a28 88%, #faae40 89%, #faae40 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #faae40 1%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #faae40 1%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae40', endColorstr='#faae40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 50px;
    border: solid;
    border-color: #FFFFFF;
    border-width: 2px;
    padding: auto;
    margin-right: 20px;
    margin-left: 10px;
}


.voteButtonDiv:hover {
    background: #FAAE40;
    cursor: pointer;
}

.voteButtonDiv:active {
    background: #ff6b00;
}

.voteButton {
    font-family: 'Monoton', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}


.voteButton:disabled {
    color: #949494;
    background: rgba(255, 255, 255, 0.42);
    pointer-events: none;
    cursor: default;
}

.voteButton:active {
    background: transparent;
    outline: none;
}

/*************************
*** Not Authorized
***************************/
.notAuthContainerDiv > h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 3.5em;
    font-weight: 600;
    color: transparent;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -moz-repeating-linear-gradient(-45deg, #faae40 0px,#faae40 10px,#f05a28 10px,#f05a28 20px,#be202f 20px,#be202f 30px,#392411 30px,#392411 40px,#be202f 40px,#be202f 50px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -webkit-repeating-linear-gradient(-45deg, #faae40 0px,#faae40 10px,#f05a28 10px,#f05a28 20px,#be202f 20px,#be202f 30px,#392411 30px,#392411 40px,#be202f 40px,#be202f 50px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: repeating-linear-gradient(135deg, #faae40 0px,#faae40 10px,#f05a28 10px,#f05a28 20px,#be202f 20px,#be202f 30px,#392411 30px,#392411 40px,#be202f 40px,#be202f 50px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    background-clip: text;

}


@media screen and (min-resolution: 150dpi){
    .pageTitleContainerDiv > h1 {
        font-weight: 500;
    }
}