html {
    height: 100%;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

p {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.displayNone {
    display: none;
}

.is-invisible {
    opacity: 0;
}

.is-hidden {
    display: none
}

/*************************
*** Header
***************************/
.pageHeaderDiv {
    width: 100%;
}

h1 {
    margin: 0.1em;
    padding: 0;
}

h3 {
    margin: 0.1em;
    padding: 0;
}

.headline {
    display: flex;
}

.pageHeaderDiv > h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 5em;
    font-weight: 200;
}

.pageHeaderDiv > h3 {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-weight: 100;
}



/*************************
*** Submit topic
***************************/
.secondSectionDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.submitTopicHeader {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

.submitTopicDiv {
}

.submitTopicButton {

}

.submitTopicField {
    height: 2em;
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    border-radius: 8px;
    background-color: #DD5431;
    border: solid;
    padding: 0 0.5em 0 0.5em;
    border-color: #FC940A;
    border-width: thick;
    color: #FFFFFF;
}


/*************************
*** Buttons
***************************/
button {
    cursor: pointer;
}

.logoutButtonDiv {
    padding: 0.1em;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #faae40; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #faae40 1%, #faae40 14%, #f05a28 15%, #f05a28 28%, #be202f 29%, #be202f 43%, #392411 44%, #392411 58%, #be202f 59%, #be202f 73%, #f05a28 74%, #f05a28 88%, #faae40 89%, #faae40 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #faae40 1%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #faae40 1%,#faae40 14%,#f05a28 15%,#f05a28 28%,#be202f 29%,#be202f 43%,#392411 44%,#392411 58%,#be202f 59%,#be202f 73%,#f05a28 74%,#f05a28 88%,#faae40 89%,#faae40 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae40', endColorstr='#faae40',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logoutButton {
    font-family: 'Monoton', cursive;
    font-weight: 100;
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
}

.simpleButton {
    width: 8.5em;
    height: 2.5em;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    background: #85991B;
    border: solid thick;
    border-radius: 8px;
    border-color: #B7A70F;
    outline: none;
}

.simpleButton:hover {
    color: #222222;
    background: #a4b91c;
}

.simpleButton:disabled {
    color: #949494;
    background: rgba(164, 185, 28, 0.5);
    pointer-events: none;
    cursor: default;
}

.simpleButton:active {
    background: #cadf1c;
}

.graphContainerDiv {
    width: 100%;
}

.graphUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.graphLi {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}

.topicTitleP {
    background-color: blueviolet;
    width: 30%;
}

.progressBarDiv {
    height: 50px;
    width: 70%;
}

.progressBarTrack {
    height: 50px;
    background: #0b2880;
}

.progressBarFill {
    background: #666;
    height: 50px;
    width: 70%;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
}

.voteButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.voteButton {

}

